<div class="d-flex justify-content-center">
  <h2>Lista de Pessoas</h2>
</div>
<div class="d-flex flex-row-reverse botao">
  <button (click)="abrirModal(abc)" class="btn btn-light bg-success bg-gradient text-white">Nova Pessoa</button>
</div>
<div class="container">
<table class="table table-bordered">
  <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Ação</th>
  </tr>

  <tr *ngFor="let pessoa of pessoas; let i = index">
      <td>
          {{pessoa.nome}}
      </td>
      <td>
          {{pessoa.idade}}
      </td>
      <td>
        <button (click)="abrirModalEditar(pessoa)" class="btn btn-primary btn-sm">Editar</button>
      </td>
  </tr>
</table>
</div>


<ng-template #abc let-modal>
<div class="modal-header">
  <h4 class="modal-title">Cadastrar Pessoa</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  
      <app-pessoa-cadastrar (retorno)="addNaLista($event)" ></app-pessoa-cadastrar>
          
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
</div>
</ng-template>


<!-- Modal de Edição -->
<ng-template #abcEditar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar Pessoa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <span class="form-label">Nome:</span>
      <input class="form-control" type="text" [(ngModel)]="pessoaParaEditar.nome" />
    </div>

    <div class="mb-3">
      <span class="form-label">Idade:</span>
      <input class="form-control" type="number" [(ngModel)]="pessoaParaEditar.idade" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="salvarEdicao()">Salvar</button>
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Close click')">Cancelar</button>
  </div>
</ng-template>