<nav class="navbar bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-grid gap-2 d-md-flex">
            <input class="btn btn-outline-primary" type="button" value="Pessoas" routerLink="/admin/pessoas/list">

            <input class="btn btn-outline-primary" type="button" value="Carros" routerLink="/admin/carros/list">

            <input class="btn btn-outline-primary" type="button" value="Livros" routerLink="/admin/livros/list">
        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </nav>